html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {line-height: 1; font-family: Lato}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

h1, h2, h3 {font-family: Georgia; color: #3d3d3d;}

body {padding: 30px; background: url(../images/back5.jpg) top left repeat;}

p {font-size: 13px;}

#container {width: 100%; min-height: 500px; min-width: 800px; margin: 0 auto; background: rgba(0,0,0,.2); border-radius: 10px; color: #fff; box-shadow: inset 0 0 5px rgba(0,0,0,.4);}
#container > div {padding: 20px;}
#container .left {width: 75%; margin: 0 0 30px 0;  float: left;}
#container .right {width: 25%; float: right ;}

#deal-cards {padding: 10px 20px; margin: 0 20px 10px 0; display: inline-block; float: left;}

#card-set {margin: 2px 0 0 0; float: left;}
#card-set input[type="text"] {padding: 4px 6px; margin: 2px 8px 0 0;  float: left; display: block; font-size: 14px;}
#card-set input[type="submit"] {float: left; padding-left: 10px; padding-right: 10px;}
#card-set input[type="submit"]:hover {cursor: pointer;}

.analyze-action {margin: 0 10px 25px 0;}
.analyze-buttons {clear: left;}

#hand {height: 98px; margin: 20px 0 30px 0; padding: 10px; clear: left; border: 1px dashed #82c065; float: left; border-radius: 5px;}

p.loading {padding: 0; margin: 0; line-height: 16px;}
p.loading img {margin: 0 5px 0 0 ;}

.results {width: 100%; margin: 0 0 20px 0; float: right; clear: right; color: #3d3d3d;}
.results h2 {padding: 8px 10px; background: #ececec url(../images/head_bg.png) top left repeat-x; border: 1px solid #dfdfdf; border-bottom: none; border-radius: 3px 3px 0 0;}
.results h2 span {float: right; font-weight: bold;}
.results .content {padding: 20px; background: #fafafa; color: #000; border: 1px solid #dfdfdf; border-radius: 0 0 3px 3px}

.results dl {font-size: 13px;}
.results dt {width: 50%; margin: 0 0 8px 0; float: left; clear: left; color: #555;}
.results dd {margin: 0 0 8px 0;}
.results dt:last-child {margin: 0;}
.results dd:last-child {margin: 0;}

#debug {margin: 30px 0 10px 0; display: block; float: right; clear: right;}
#raw-results {clear: both;}
#raw-results textarea {width: 98%; min-height: 300px;}

/* Card Sprite */
.card {height: 98px; width: 73px; margin: 0 10px 0 0; background: url(../images/card_sprite.png) top left no-repeat; float: left;}
.card:last-child {margin-right: 0;}
.card.throwaway {margin-top: -20px;}
.card:hover {cursor: pointer;}
.card.suit-s {background-position-y: -98px;}
.card.suit-h {background-position-y: -196px;}
.card.suit-d {background-position-y: -294px;}
.card.card-2 {background-position-x: -73px;}
.card.card-3 {background-position-x: -146px;}
.card.card-4 {background-position-x: -219px;}
.card.card-5 {background-position-x: -292px;}
.card.card-6 {background-position-x: -365px;}
.card.card-7 {background-position-x: -438px;}
.card.card-8 {background-position-x: -511px;}
.card.card-9 {background-position-x: -584px;}
.card.card-T {background-position-x: -657px;}
.card.card-J {background-position-x: -730px;}
.card.card-Q {background-position-x: -803px;}
.card.card-K {background-position-x: -876px;}





/* button */

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.button:active {
	position:relative;
	top:1px;
}

.deal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	text-decoration: none;
	background: -moz-linear-gradient(
		top,
		#136aa4 0%,
		#015892);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#136aa4),
		to(#015892));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #035a94;
	-moz-box-shadow:
		0px 1px 0px rgba(026,026,026,0.5),
		inset 0px 0px 0px rgba(255,255,255,0.6);
	-webkit-box-shadow:
		0px 1px 0px rgba(026,026,026,0.5),
		inset 0px 0px 0px rgba(255,255,255,0.6);
	box-shadow:
		0px 1px 0px rgba(026,026,026,0.5),
		inset 0px 0px 0px rgba(255,255,255,0.6);
	text-shadow:
		0px -1px 0px rgba(000,000,000,1),
		0px 1px 0px rgba(255,255,255,0.2);
}


/* new clearfix */
.results dl:after,
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */